<a href="https://colab.research.google.com/github/JuanApaza/2Parcial/blob/main/Copia_de_Untitled9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **PROYECTO DE RECONOCIMIENTO DE CARACTERES**


---

In [ ]:
import pandas as pd

df = pd.read_csv(
    "https://raw.githubusercontent.com/jdvelasq/datalabs/master/datasets/letterdata.csv"
)

df.head()

  letter  xbox  ybox  width  height  ...  xy2bar  xedge  xedgey  yedge  yedgex
0      T     2     8      3       5  ...       8      0       8      0       8
1      I     5    12      3       7  ...       9      2       8      4      10
2      D     4    11      6       8  ...       7      3       7      3       9
3      N     7    11      6       6  ...      10      6      10      2       8
4      G     2     1      3       1  ...       9      1       7      5      10

[5 rows x 17 columns]

# **Verificar tama√±o del dataset**

In [ ]:
df.shape

(20000, 17)

# **Entrenamiento del modelo**

In [ ]:
df.index

RangeIndex(start=0, stop=20000, step=1)

In [ ]:
df_train=df[0:16000]
df_test=df[16000:]

In [ ]:
from sklearn.svm import SVC

clf = SVC(kernel="linear")

In [ ]:
clf.fit(df_train[df.columns[1:]], df_train["letter"].ravel())

SVC(kernel='linear')

# **Resultados**

In [ ]:
y_test = clf.predict(df_test[df.columns[1:]])

y_test[0:10]

array(['U', 'N', 'V', 'I', 'N', 'H', 'E', 'Y', 'G', 'E'], dtype=object)

In [ ]:
df[16000:16010]

# **Evaluacion**

In [ ]:
from sklearn import metrics

metrics.confusion_matrix(y_test, df_test["letter"].ravel())

array([[144,   0,   0,   0,   0,   1,   0,   0,   0,   1,   0,   0,   0,
          1,   2,   0,   5,   0,   1,   1,   1,   0,   1,   0,   0,   0],
       [  0, 121,   0,   5,   2,   0,   2,   2,   0,   0,   1,   1,   2,
          0,   0,   2,   2,   5,   3,   0,   0,   2,   0,   1,   0,   0],
       [  0,   0, 121,   0,   5,   1,  11,   1,   1,   0,   1,   3,   0,
          0,   3,   0,   1,   0,   0,   0,   0,   0,   0,   0,   0,   0],
       [  1,   2,   0, 156,   0,   0,   2,   9,   4,   3,   4,   2,   0,
          6,   5,   3,   1,   3,   0,   0,   0,   0,   0,   2,   3,   0],
       [  0,   0,   5,   0, 126,   2,   1,   0,   0,   0,   3,   5,   0,
          0,   0,   0,   2,   0,   9,   1,   0,   0,   0,   1,   0,   3],
       [  0,   0,   0,   0,   0, 137,   2,   3,   6,   0,   0,   0,   0,
          0,   0,  16,   0,   0,   5,   2,   0,   2,   0,   2,   2,   0],
       [  1,   1,   2,   1,   9,   1, 123,   3,   0,   0,   0,   2,   1,
          0,   1,   2,   8,   1,   4,   2,   1,   0,   0,   2,   0,   0],
       [  0,   1,   0,   1,   0,   0,   1, 106,   0,   2,   2,   2,   2,
          5,  20,   0,   2,   3,   0,   3,   0,   2,   0,   0,   1,   0],
       [  0,   1,   0,   0,   0,   1,   0,   0, 141,   8,   0,   0,   0,
          0,   0,   1,   0,   0,   2,   0,   0,   0,   0,   6,   1,   1],
       [  0,   1,   0,   0,   0,   2,   0,   1,   7, 128,   0,   0,   0,
          0,   2,   1,   4,   0,   1,   0,   0,   0,   0,   1,   0,   6],
       [  1,   1,   8,   0,   0,   0,   2,   5,   0,   0, 121,   0,   0,
          2,   0,   1,   0,   8,   0,   1,   2,   0,   0,   7,   0,   0],
       [  0,   0,   0,   0,   2,   0,   1,   0,   1,   0,   0, 132,   0,
          0,   0,   0,   0,   0,   3,   0,   0,   0,   0,   1,   0,   1],
       [  1,   0,   1,   0,   0,   0,   1,   2,   0,   0,   0,   0, 137,
          4,   0,   0,   0,   0,   0,   0,   3,   0,   8,   0,   1,   0],
       [  0,   0,   0,   0,   0,   1,   0,   1,   0,   0,   0,   0,   0,
        143,   0,   0,   0,   3,   0,   0,   1,   0,   2,   0,   0,   0],
       [  0,   0,   1,   1,   0,   0,   0,   2,   0,   1,   1,   0,   0,
          1,  98,   2,   3,   1,   0,   0,   4,   0,   0,   0,   0,   0],
       [  0,   0,   0,   1,   0,   2,   1,   0,   0,   0,   0,   0,   0,
          0,   2, 132,   0,   0,   0,   0,   0,   0,   0,   0,   1,   0],
       [  0,   0,   0,   0,   1,   0,   7,   2,   0,   0,   0,   4,   0,
          0,   3,   1, 123,   1,   5,   0,   0,   0,   0,   0,   4,   0],
       [  1,   6,   0,   0,   1,   0,   2,   7,   0,   0,  11,   0,   0,
          1,   1,   1,   1, 135,   0,   1,   0,   1,   0,   0,   0,   0],
       [  1,   1,   0,   0,   1,   0,   3,   0,   1,   1,   0,   1,   0,
          0,   0,   0,  14,   0, 106,   3,   0,   0,   0,   1,   0,  10],
       [  0,   0,   0,   0,   2,   3,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   2, 132,   1,   0,   0,   1,   2,   2],
       [  1,   0,   4,   2,   0,   0,   0,   2,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0, 151,   0,   0,   0,   0,   0],
       [  0,   0,   0,   0,   0,   0,   3,   2,   0,   0,   0,   0,   0,
          2,   1,   0,   2,   1,   0,   0,   0, 125,   2,   0,   3,   0],
       [  0,   0,   0,   0,   0,   0,   2,   0,   0,   0,   0,   0,   2,
          0,   0,   1,   0,   0,   0,   0,   4,   4, 126,   0,   0,   0],
       [  0,   1,   0,   0,   2,   0,   0,   2,   2,   0,   2,   5,   0,
          0,   1,   0,   0,   0,   2,   0,   0,   0,   0, 134,   1,   3],
       [  3,   0,   0,   0,   0,   2,   0,   1,   0,   0,   0,   0,   0,
          1,   0,   5,   0,   0,   0,   3,   0,   0,   0,   0, 126,   0],
       [  2,   0,   0,   0,   1,   0,   0,   0,   2,   4,   0,   0,   0,
          0,   0,   0,   0,   0,  18,   2,   0,   0,   0,   0,   0, 132]])